<main>

    <div class="site-header">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 d-flex flex-wrap">
                    <p class="d-flex me-4 mb-0">
                        
                        <strong class="text-dark">Welcome to BookCrosser. Platform to connect readers</strong>
                    </p>
                    
                </div>

            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg" style="color:black">
        <div class="container">
            <a class="navbar-brand" style="color:black">
               <img src="assets/image/Bookcrosser_logo.png" alt="Logo" width="70px"> BookCrosser
            </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                    <li class="nav-item">
                        <a class="nav-link" (click)="toHome()">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll">About Us</a>
                    </li>
<!-- 
                    <li class="nav-item dropdown">
                        
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Selected by Tags
                        </a>

                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Sell</a></li>
                          <li><a class="dropdown-item" href="#">Exchange</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Free</a></li>
                        </ul>

                    
                    </li> -->

                    <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
                        <a class="nav-link dropdown-toggle" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Selected by Tag </a>
                        <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
                            <a ngbDropdownItem (click)="$event.preventDefault(); updateFilters({ tag: 'BUY' })">Buy</a>
                            <a ngbDropdownItem (click)="$event.preventDefault(); updateFilters({ tag: 'SELL' })">Sell</a>
                            <a ngbDropdownItem (click)="$event.preventDefault(); updateFilters({ tag: 'EXCHANGE' })">Exchange</a>
                            <a ngbDropdownItem (click)="$event.preventDefault(); updateFilters({ tag: 'FOR_FREE' })">For free</a>
                            <a ngbDropdownItem (click)="$event.preventDefault(); updateFilters({ tag: undefined })">All</a>
                        </div>
                    </li>
                        
                    <li class="nav-item">
                        <a class="nav-link click-scroll">Categories</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll">FAQs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll">Contact</a>
                    </li>
                </ul>

                <a class="btn custom-btn d-lg-block d-none" (click)="toProfile()">
                    <i class="fas fa-user me-2"></i> 
                    My Profile
                  </a>            
                </div>
        </div>
    </nav>


    <section class="hero-section" id="section_1">
        <div class="section-overlay"></div>

        <div class="container d-flex">
            <div class="row">
            <div class="col">
              <div class="container-fluid" style="margin-top: 200px;">
                <form
                  class="d-flex"
                  role="search"
                  (submit)="updateFilters({ author: authorSearch }); $event.preventDefault()"
                >
                  <input
                    [(ngModel)]="authorSearch"
                    name="authorSearch"
                    class="form-control me-2"
                    type="search"
                    placeholder="Search by author"
                    aria-label="Search"
                  />
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
           </div>

                <div class="col">
                  <div class="container-fluid" style="margin-top: 200px;">
                    <form
                      class="d-flex"
                      role="search"
                      (submit)="updateFilters({ title: titleSearch }); $event.preventDefault()"
                    >
                      <input
                        [(ngModel)]="titleSearch"
                        name="titleSearch"
                        class="form-control me-2"
                        type="search"
                        placeholder="Search by title"
                        aria-label="Search"
                      />
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                    </div>

                    <div class="col">
                      <div class="container-fluid" style="margin-top: 200px;">
                        <form
                          class="d-flex"
                          role="search"
                          (submit)="updateFilters({ genre: genreSearch }); $event.preventDefault()"
                        >
                          <input
                            [(ngModel)]="genreSearch"
                            name="genreSearch"
                            class="form-control me-2"
                            type="search"
                            placeholder="Search by genre"
                            aria-label="Search"
                          />
                          <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                      </div>
                    </div>
                <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center" >
                 

                    <div class="social-share">
                        <ul class="social-icon d-flex align-items-center justify-content-center">
                            <span class="text-white me-3"> </span>

                            <li class="social-icon-item">
                                <a class="social-icon-link">
                                  <i class="fab fa-facebook-f"></i> <!-- Font Awesome Facebook icon -->
                                </a>
                              </li>
                          
                              <li class="social-icon-item">
                                <a class="social-icon-link">
                                  <i class="fab fa-twitter"></i> <!-- Font Awesome Twitter icon -->
                                </a>
                              </li>
                          
                              <li class="social-icon-item">
                                <a class="social-icon-link">
                                  <i class="fab fa-google"></i> <!-- Font Awesome Google/Chrome icon -->
                                </a>
                              </li>
                          
                              <li class="social-icon-item">
                                <a class="social-icon-link">
                                  <i class="fab fa-linkedin-in"></i> <!-- Font Awesome LinkedIn icon -->
                                </a>
                              </li>
                          
                              <li class="social-icon-item">
                                <a class="social-icon-link">
                                  <i class="fab fa-instagram"></i> <!-- Font Awesome Instagram icon -->
                                </a>
                              </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-wrap">
            <video autoplay="" loop="" muted="" class="custom-video" poster="">
                <source src="../../assets/image/pexels-2022395.mp4" type="video/mp4">
            </video>
        </div>
    </section>
        
    <br><br><br>


    <section>

    <!-- <app-book/>             -->

    <div *ngIf="loading(); else loadedContent">
      Loading...
    </div>
    
    <ng-template #loadedContent>
      <div class="container">
        <div class="row g-2 gx-0">
          <!-- Loop through adverts and create a card for each one -->
          <div *ngFor="let advert of adverts$()" class="col-6 col-md-3">
            <div class="card shadow" style="width: 300px;">
              <img 
                [src]="advert.advertImage ? advert.advertImage : '../../assets/image/book.jpg'" 
                class="card-img-top" 
                alt="Advert Image" 
                width="50px"
                height="300px" 
              />
              <div class="card-body" >
                <h5 class="card-title">Title: {{ advert.title }}</h5>
                <p>Author: <span>{{ advert.author }}</span></p>
                <p>Genre: <span>{{ advert.genre }}</span></p>
                <p class="card-text">{{ advert.description }}</p>
                <span 
                  class="badge rounded-pill"
                  [ngClass]="{
                    'text-bg-danger': advert.tag === 'SELL',
                    'text-bg-success': advert.tag === 'EXCHANGE',
                    'text-bg-primary': advert.tag === 'BUY',
                    'text-bg-warning': advert.tag === 'FOR_FREE'
                  }"
                >
                  {{ advert.tag }}
                </span>
                <a class="btn btn-outline-primary" (click)="openModalWithAdvert(content, advert.id)">
                  More Info
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
      
    </section>

    <!-- <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">More Info</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <img src='../../assets/image/book.jpg' alt='' class="img-fluid">
            </div>
            <div class="col-md-6">
              <h4>Book Title: Shuggie Bain</h4>
              <p>Author: Douglas Stuart</p>
              <p>Genre: ncnijfhsifhih</p>
              <p class="card-text">Some example text for the modal.</p>
              <h4>Owner Name: Peter</h4>
              <p>Email: jhonmail.com</p>
              <p>Phone: +371 22890325</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template> -->

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">More Info</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <!-- Show error or loading message if `selectedAdvert` is null -->
        <div *ngIf="!selectedAdvert$()">
          <p>{{ error$() || 'Loading...' }}</p>
        </div>
    
        <!-- Only render advert details when `selectedAdvert` is defined -->
        <div *ngIf="selectedAdvert$()">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <img
                  src='../../assets/image/book.jpg'
                  class="img-fluid"
                  alt="Advert Image"
                />
              </div>
              <div class="col-md-6">
                <h4>Book Title: {{ selectedAdvert$()?.title || 'Unknown title' }}</h4>
                <p>Author: {{ selectedAdvert$()?.author || 'Unknown author' }}</p>
                <p>Genre: {{ selectedAdvert$()?.genre || 'Unknown genre' }}</p>
                <p class="card-text">{{ selectedAdvert$()?.description || 'Unknown description' }}</p>
                <h4>Owner Name: {{ selectedAdvert$()?.username || 'Unkwnown username' }}</h4>
                <p>Email: {{ selectedAdvert$()?.email || 'Unknown email' }}</p>
                <p>Phone: {{ selectedAdvert$()?.phoneNumber || 'Unknown phoneNumber' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
    

<br><br>
<nav aria-label="Page navigation example">
<ul class="pagination justify-content-center">
  <li class="page-item"><a class="page-link" (click)="$event.preventDefault(); updateFilters({ pageNum: 1 })">1</a></li>
  <li class="page-item"><a class="page-link" (click)="$event.preventDefault(); updateFilters({ pageNum: 2 })">2</a></li>
  <li class="page-item"><a class="page-link" (click)="$event.preventDefault(); updateFilters({ pageNum: 3 })">3</a></li>
</ul>
</nav>

</main>

<br><br>

<footer class="site-footer">
    <!-- <div class="site-footer-top">
        <div class="container">
        </div>
    </div> -->

<div class="site-footer-bottom">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mt-5">
                <p class="copyright-text">Copyright © 2024 BookCrosser Company</p>
            </div>

            <div class="col-lg-8 col-12 mt-lg-5">
                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <p class="site-footer-link">Terms &amp; Conditions</p>
                    </li>

                    <li class="site-footer-link-item">
                        <p class="site-footer-link">Privacy Policy</p>
                    </li>

                    <li class="site-footer-link-item">
                        <p href="#" class="site-footer-link">Your Feedback</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>
